*{
    margin: 0;
    padding: 0;
}
body{
    background-color: linear-gradient(to right,blue,yellow);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(226, 198, 43, 0.671);
    height: 60px;
    font-size: 24px;
}
.logo{
    margin: 10px;
    font-size: 29px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
 .header a{
    margin-right: 14px;
    padding: 3px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s;
 }

 .header a:hover{
    color: rgb(248, 248, 248);
 }
.hero{
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,rgba(165, 228, 93, 0.644),rgba(135, 185, 78, 0.733));
    text-align: center;
}

.hero h1{
    font-size: 70px;
    padding: 9px;
    color: rgba(255, 129, 10, 0.836);
}
.hero p{
    font-size: 30px;
    margin: 10px 0px 20px 0px;
    color: rgba(0, 0, 0, 0.836);
}
.hero button{
    padding: 15px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    background-color: rgba(0, 128, 0, 0.308);
    cursor: pointer;
    transition: 0.2s;
}
.hero button:hover{
    background-color: beige;
}